.quantity {
	width: 40px;
	font-size: 15px;
}

.delete {
	text-align: center;
	font-weight: bold;
}

.button-container Button {
	width: 100%;
}

.total-wrapper {
	font-size: 40px;
}

.item:hover {
	border-radius: 10px;
	background-color: rgb(225, 225, 225);
}

.total {
	font-weight: bold;
}
