.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #343a40;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fa {
	margin: 5px;
}
