.badge {
	border-radius: 5px 0 0 5px;
}

.item-card .card-body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
}

.badge-container {
	position: absolute;
	top: 4%;
	right: 0;
}

.item-card {
	display: flex;
	border-radius: 10px;
	min-width: 10em;
	max-width: 10em;
	min-height: 15em;
	margin: 15px;
}

.grow {
	transition: all 0.2s ease-in-out;
}

.grow:hover {
	transform: scale(1.05);
}

.image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80%;
}

.card-img-top {
	object-fit: contain;
	border-radius: 10px 10px 0 0;
}

.card-title {
	margin-bottom: 5px;
	padding: 5px;
}
