.badge {
	border-radius: 0px;
}

.item-card .card-body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
}

.badge-container {
	position: absolute;
	top: 5px;
	right: 0;
}

.item-card {
	border: 1px solid red;
	border-radius: 5px;
	padding-top: 10px;
}
