.badge {
	border-radius: 5px 0 0 5px;
}

.item-card .card-body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
}

.badge-container {
	position: absolute;
	top: 5%;
	right: 0;
}

.item-card {
	border-radius: 10px;
	padding-top: 10px;
}

.grow {
	transition: all 0.2s ease-in-out;
}

.grow:hover {
	transform: scale(1.05);
}
